.header-panel {
    display: flex; /* Use flexbox for easy alignment */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center vertically */
    padding: 10px; /* Add some padding */
    background-color: #031F4E;
}

.profile-icon {
    width: 40px; /* Set the width of the icon */
    height: 40px; /* Set the height of the icon */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-left: 20px; /* Space between the icon and the edge */
}

.profile-icon:hover {
    opacity: 0.8; /* Change opacity on hover for a slight effect */
}


