*{

    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
            /* Sidebar */
            .side-menu {
                display: flex;
                flex-direction: column;
                width: 260px;
                height: 100vh;
                background-color: #fff;
                color: #031F4E;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                overflow-y: hidden;
                overflow-x: hidden;
                padding: 2px;
            }
    
            .side-menu .logo {
                text-align: center;
                padding: 20px;
            }
    
            .side-menu .logo img {
                max-width: 100%;
                height: auto;
            }
    
            .side-menu a {
                display: flex;
                align-items: center;
                padding: 15px 20px;
                color: #031F4E;
                text-decoration: none;
                transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease-in-out;
            }
    
            .side-menu a:hover {
                background-color: #2A416F;
                color: #fff;
                transform: translateX(10px); /* Slide to the right on hover */
            }
    
            .side-menu a i {
                margin-right: 10px;
            }
    
            .side-menu a.active {
                background-color: #031F4E;
                color: #fff;
            }
    
            .side-menu a.active i {
                color: #fff;
            }
    
            .side-menu a:hover:not(.active) {
                background-color: #2A416F;
                color: #fff;
            }
    
            .logout {
                color: #e74c3c; 
                padding: 15px 20px;
                margin-top: 215px;
                display: flex;
                align-items: center;
                transition: background 0.3s, color 0.3s;
                transition: background 0.3s, color 0.3s;
                margin-top: auto; /* Ensures logout stays at the bottom */
            }
    
            .logout:hover {
                background-color: #c0392b;
                color: #fff;
            }
      /* Set a fixed height for the dropdown and enable internal scrolling */
.dropdown-content {
  display: none;
  background-color: #fefcfc;
  position: relative;
  max-height: 150px; /* Set a fixed height for the dropdown */
  overflow-y: auto; /* Enable internal scrolling if content exceeds the height */
  padding-left: 20px; /* Keep padding to make it look nice */
  padding-right: 20px;
  border-left: 3px solid #031F4E;
}

/* CSS for edit modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    border-radius: 10px;
    
  }

  .close {
    position: relative;
    color: #aaa;
    float: right;
    top: -200px;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* CSS for the close button in QR modal */
.close-qrcode {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
}

.close-qrcode:hover {
    color: black;
    cursor: pointer;
}

  
  .modal-content h2 {
    margin-bottom: 20px;
  }

  .modal-content form label {
    display: block;
    margin-bottom: 5px;
  }

  .modal-content form input[type="text"],
  .modal-content form input[type="number"],
  .modal-content form input[type="date"] {
    width: calc(100% - 12px); /* Adjusted for padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .modal-content form input[type="submit"] {
    background-color: #031F4E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

  }

  .modal-content form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .close {
    color: #aaa;
    top: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .main-content {        
    background-color: #F2F7FC;
    padding: 20px;
    margin-left: 250px;
    height: 100vh;
    box-sizing: border-box;
    
  }

  .panel {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make the panel stretch across the full width */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.usersTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .usersTable thead tr {
    background-color: #031F4E;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    white-space: nowrap; /* Ensure the text is in a single line */
  }

  .usersTable th,
  .usersTable td {
    padding: 15px 15px;
    white-space: nowrap; /* Ensure the text is in a single line */
  }

  .usersTable tbody tr {
    border-bottom: 2px solid #dddddd;
    background-color: #ffffff;
  }
  .action-view, .action-edit, .action-delete {
   
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: #023A6B;
        margin-right: 5px;
        font-size:15px;
        
    }

    .action-view:hover, .action-edit:hover, .action-delete:hover {
        color: #0056b3;
    }
    .action-view {
        background: none;
        border: 1px solid #031F4E; /* Border color */
        cursor: pointer;
        font-size: 12px;
        color: #FFFFFF; /* Text color */
        background-color: #023A6B;
        padding: 8px 16px; /* Adjust padding as needed */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition */
      }

      .action-view:hover {
        background-color: #7faad9; /* Background color on hover */
       
      }
      #qrModalContent {
        background-color: #fefefe;
        margin: auto;
        margin-top: 150px;
        padding: 10px;
        border: 1px solid #888;
        max-width: 300px;
        text-align: center;
        position: relative;
        border-radius: 5px
      }
    
          /* Adjust the size of the QR code image */
          #qrModalContent img {
              max-width: 100%; /* Ensure the image fits within the container */
              height: auto; /* Maintain aspect ratio */
          }
    /* Center the Print QR Code button */
    .printButton {
      position: relative;
      margin-top: 10px;
        padding: 10px 20px;
        background-color: #031F4E;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
    }
    
    .printButton:hover {
        background-color: #0056b3;
    }
    .close-modal {
      position: relative;
      top: -280px;
      left: 80px;
      color: #aaa;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close-modal:hover {
        color: black;
        cursor: pointer;
    }
    .profile-picture {
        width: 40px; /* Adjust the width as needed */
        height: 40px; /* Adjust the height as needed */
        border-radius: 50%; /* Optional: Make it round */
        margin-right: 55px;
    }
    
    /*TRY STYLE SA EDIT MODAL ADDRESS*/
    /* Style for labels */
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    /* Style for dropdowns */
    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
    }
    
    /* Style for input fields (optional, if needed for other inputs) */
    input[type="text"],
    input[type="date"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
    }
    
    /* Optional: Adjust appearance for smaller screens */
    @media screen and (max-width: 600px) {
      select {
        font-size: 12px;
      }
    }
    
    /* Optional: Style for form container */
    .form-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
        